*.pyc
*~
__pycache__
venv
.idea
.DS_Store
geckodriver.exe
geckodriver.log
selenone.py
selentwo.py
selenthree.py
selenfour.py
selenfive.py
selensix.py
selenseven.py
seleneight.py
30031.py
config
db.sqlite3
ip10.1.122.4.txt
iplistubnt.py
iplistubnt_all.py
iplistubnt_production.py
r_txt.py
scheck_n.py
selenone_08072020.py
selenone_09072020.py
selenone_avariya.py
selenone_n.py
selenone_nanobeam.py
selenone_net.py
selenone_one.py
selenone_remote.py
selenone_t.py
selenone_test.py
selenone_tkinter.py
